// Colors
$colors: (
	light: 		#ffffff,
	stable:		#E8E8E8,
	positive:	#18C1A4,
	calm:		#43cee6,
	balanced:	#66cc33,
	energized: 	#f0b840,
	assertive:	#ef4e3a,
	royal:		#8a6de9,
	dark: 		#000000
);

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-alt: 'Work Sans', Helvetica, Arial, sans-serif;